
.part{
  &-1{top: 97px; left: 53px;}
  &-2{top: 0; left:80px;}
  &-3{top: 37px; left: 97px;}
  &-4{top: 60px; left: 106px;}
  &-5{top: 92px; left: 110px;}
  &-6{top: 190px; left: 102px;}
  &-7{top: 184px; left: 129px;}
  &-8{top: 208px; left: 90px;}
  &-9{top: 212px; left: 170px;}
  &-10{top: 219px; left: 130px;}
  &-11{top: 237px; left: 99px;}
  &-12{top: 139px; left: 46px;}
  &-13{top: 180px; left: 66px;}
  &-14{top: 240px; left: 50px;}
  &-15{top: 260px; left: 77px;}
  &-16{top: 363px; left: 52px;}
  &-17{top: 392px; left: 55px;}
  &-18{top: 462px; left: 127px;}
  &-19{top: 290px; left: 119px;}
  &-20{top: 10px; left: 90px;}
  &-21{top: 83px; left: 102px;}
  &-22{top: 120px; left: 120px;}
  &-23{top: 136px; left: 38px;}
  &-24{top: 154px; left: 106px;}
  &-25{top: 258px; left: 90px;}
  &-26{top: 388px; left: 54px;}
  &-27{top: 100px; left: 48px;}
}
.label{
  &-1{margin: -35px 50px;}
  &-2{margin: 8px 75px;}
  &-3{margin: -70px 100px;}
  &-4{margin: -27px 96px;}
  &-5{margin: -30px 120px;}
  &-6{margin: 30px 90px;}
  &-7{margin: 25px 108px;}
  &-8{margin: 50px 80px;}
  &-9{margin: 50px 130px;}
  &-10{margin: 50px 90px;}
  &-11{margin: 130px 100px;}
  &-12{margin: 20px 50px;}
  &-13{margin: 70px 60px;}
  &-14{margin: 300px 40px;}
  &-15{margin: 300px 70px;}
  &-16{margin: 350px 45px;}
  &-17{margin: 380px 25px;}
  &-18{margin: 340px 100px;}
  &-19{margin: 290px 110px;}
}