.slide-04 {
  .title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 10px 0 0;
  }
  .button {
    margin: 45px auto 0;
    font-size: 52px;
    width: 396px;
    height: 80px;
  }
  .result {
    font-size: 24px;
    border-collapse: collapse;
    width: 960px;
    margin: 70px auto 0;
    strong {
      font-size: 30px;
      font-weight: 600;
    }
    tr {
    }
    td {
      position: relative;
      padding: 0 15px;
      height: 55px;
      width: 33%;
      border-bottom: 2px solid #fff;
      &:nth-of-type(1) {
        strong {
          font-size: 24px;
        }
      }
    }
    span {
    }
    &-percent {
      display: flex;
      align-items: center;
    }
    &-score{
      display: flex;
      align-items: center;
      span{
        font-weight: bold;
        font-size: 150%;
      }
      div{
        margin-left: 50px;
      }
    }
    .green {
      color: $color-green;
    }
    .red {
      color: $color-red;
    }
  }

}