.slide-02 {
  .girl {
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  .content {
    text-align: center;
    margin: 80px 0 0 30px;
    width: 600px;
    .title {

      &-1 {
        font-size: 30px;
        font-weight: 600;
      }
      &-2 {
        font-size: 36px;
        font-weight: 600;
        margin: 45px 0 0;
      }
    }
    p {
      font-size: 24px;
      margin: 25px 0 0;
    }
    .buttons {
      margin: 40px 0 0;
    }
    .button {
      width: 410px;
      margin: 0 auto 30px;
    }
    .link {
      margin-top: 25px;
    }
  }

  .dialog {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("~/images/slide02/dialog-bg.jpg");
    .title {
      font-size: 36px;
      text-align: center;
      color: $color-grey;
    }
    input {
      font-size: 36px;
      margin-top: 50px;
      border-radius: 100px;
      border: 2px solid rgb(155, 189, 219);
      background-color: rgb(255, 255, 255);
      width: 563px;
      height: 78px;
      padding: 0 20px;
      text-align: center;
      font-weight: bold;
    }
    .button {
      font-weight: bold;
      color: #fff;
      background: rgb(52, 104, 150);
      font-size: 40px;
      width: 406px;
      height: 60px;
      margin: 40px auto 0;
    }
  }

}