.slide-06 {
  background-image: url("~/images/slide06/bg.jpg");
  .title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 10px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  .front {
    position: absolute;
    left: 0;
    top: 0;
    margin: 60px;
    background-image: url("~/images/game/front.png");
    background-size: 100% 100%;
    width: 219px;
    height: 508px;
    z-index: 1;
  }
  .back {
    position: absolute;
    right: 0;
    top: 0;
    margin: 60px 40px;
    background-image: url("~/images/game/back.png");
    background-size: 100% 100%;
    width: 207px;
    height: 510px;
    z-index: 1;
  }

  .part {
    position: absolute;
    cursor: move;
    &.is-dropped {
      opacity: 0;
      pointer-events: none;
      transition: $ease;
      visibility: hidden;
      transform: scale(2);
    }
  }
  .label {
    left: 0;
    top: 0;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    &.is-dragging {
      opacity: 1;
      visibility: visible;
      transition: all .4s ease;
    }
  }

  .game {
    display: none;
    &.is-on {
      display: block;
    }
    &.is-started {
      .body {
        opacity: 1;
      }
      .preview {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  .body {
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: $ease;
    .border {
      position: absolute;
      left: 0;
      top: 0;
      transition: all .2s ease;
      filter: grayscale(100%) brightness(0.1) invert(100%) hue-rotate(0deg);
    }
    &.ui-droppable-hover {
      .border {
        filter: grayscale(0%) brightness(1) invert(0%);
      }
    }
    &.is-correct {
      .border {
        filter: opacity(.5) hue-rotate(290deg);
      }
    }
  }
  .score {
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, 7);
    width: 730px;
    margin-left: -365px;
    height: 84px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 20px;
    .button {
      color: #fff;
      background: #356994;
      width: 330px;
      height: 40px;
      span {
        font-size: 26px;
      }
    }
    p {
      font-size: 18px;
      color: #748397;
    }
    i {
      color: #748397;
      display: block;
    }
    span, strong {
      font-size: 30px;
      display: block;
      line-height: 100%;
    }
    strong {
      color: #40a518;
    }
    &-counter {
      display: flex;
      justify-content: center;
      div {
        padding: 0 5px;
      }
    }
    &-timer{
      color: $color-blue;
    }
  }

  .preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    transition: $ease;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url("~/images/slide06/bg.jpg");
      opacity: .9;
    }
    div {
      width: 440px;
      position: relative;
      z-index: 1;
    }
    p {
      margin: 20px 0;
    }
    .button {
      margin: 40px 10px 0;
    }
  }
}