.slide-01 {
  background-image: url("~/images/slide01/bg.jpg");
  .title {
    text-align: center;
    display: block;
    &-1 {
      color: $color-grey;
      font-size: 36px;
      margin-top: 50px;
    }
    &-2 {
      margin-top: 50px;
      color: #fff;
      font-family: $myriadProCond;
      font-weight: bold;
      font-size: 72px;
      text-transform: uppercase;
    }
    &-3 {
      margin-top: 50px;
      color: #fff;
      text-align: center;
      font-size: 30px;
    }
  }
  .button {
    margin: 45px auto 0;
    font-size: 72px;
    width: 445px;
    height: 103px;
  }
  .description {
    font-size: 18px;
    color: #4b6480;
    display: block;
    font-style: italic;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
  }
}