.slide-03 {
  .title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 85px 0 0;
  }
  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 30px 0;
  }
  .control {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    font-size: 24px;
    font-weight: bold;
    width: 333px;
    height: 96px;
    line-height: 100%;
  }

}