.slide-07 {
  @extend .slide-06;
  .title {
    margin: 0;
    position: relative;
    z-index: 99;
    span {
      padding: 0 10px;
      background: $color-blue;
      color: #fff;
      display: inline-block;
    }
  }
  .game {

  }

  .rule-label {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    text-align: center;
    line-height: 110%;
    opacity: 0;
    transition: $ease;
    &.is-on {
      opacity: 1;
      ~ .rule-label {
        opacity: 0 !important;
      }
    }
    &-1 {
      margin: 20px 90px;
    }
    &-2 {
      margin: 15px 45px;
    }
    &-3 {
      margin: 30px 220px;
      &:before {
        content: '';
        background-image: url("~/images/slide07/arrow.png");
        background-size: 100% 100%;
        width: 402px;
        height: 127px;
        top: 100%;
        left: 50%;
        display: block;
        position: absolute;
        margin: -30px -200px;
      }
    }
    &-4 {
      font-size: 30px;
      color: $color-blue;
      right: 0;
      top: auto;
      bottom: 50px;
      left: 30px;
      strong {
        font-size: 36px;
      }
      .button {
        margin: 20px auto 0;
        width: 400px;
      }
    }
  }
  .rules {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    background-image: url("~/images/slide07/rules-bg-1.jpg");
    background-size: 100% 100%;
    z-index: 10;
    transition: $ease;
    opacity: 0;
    visibility: hidden;
    &.is-on {
      opacity: 1;
      visibility: visible;
    }
    .help {
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      width: 600px;
    }
    .button {
      width: 160px;
      height: 40px;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 20px;
      span {
        font-size: 26px;
        margin-right: 10px;
      }
      &--prev {
        right: auto;
        left: 0;
        span {
          order: 1;
          margin-left: 10px;
        }
      }
    }
    &-2 {
      background-image: url("~/images/slide07/rules-bg-2.jpg");
      .help {
        margin-left: 120px;
      }
    }
    &-3 {
      background-image: url("~/images/slide07/rules-bg-3.jpg");
      .help {
        margin-left: -60px;
      }
    }
    &-4 {
      background-image: url("~/images/slide07/rules-bg-4.jpg");
      .help {
        text-align: left;
        margin-left: 580px;
      }
    }

  }

}