.slide-05 {
  .title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 10px 0 0;
  }
  .data {
    display: flex;
    align-items: flex-start;
    margin: 50px 0 0;
  }
  .buttons {
    border-right: 2px solid $color-blue;
    padding: 0 40px 30px;
    margin-right: 20px;
  }
  .button {
    font-size: 24px;
    width: 407px;
    height: 51px;
    margin-bottom: 16px;
    line-height: 90%;
    border: 2px solid transparent;
    &.is-on {
      border-color: $color-blue;
      background: transparent;
      color: #000;
      box-shadow: none;
    }
  }
  .result {
    table {
      font-size: 24px;
      border-collapse: collapse;
      width: 600px;
      color: #3e4b5c;
    }
    strong {
      font-size: 30px;
      font-weight: 600;
    }
    tr {
      &:nth-of-type(1) {
        color: #77879d;
        font-size: 18px;
      }
      &:nth-of-type(even) {
        background: rgba(255, 255, 255, .2);
      }
      &:last-of-type td{
        border-bottom: none;
      }
    }
    td {
      position: relative;
      padding: 0 15px;
      height: 45px;
      border-bottom: 2px solid #fff;
      text-align: center;
    }
    img {
      margin: 0 0 -3px 40px;
    }
    .green {
      color: $color-green;
    }
    .red {
      color: $color-red;
    }
    .stars {
      position: absolute;
      right: 0;
      top: 0;
      margin: -4px -10px;
    }

  }

}