@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('assets/fonts/MyriadProCondensed/MyriadPro-Cond.eot');
    src: url('assets/fonts/MyriadProCondensed/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MyriadProCondensed/MyriadPro-Cond.woff') format('woff'),
        url('assets/fonts/MyriadProCondensed/MyriadPro-Cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('assets/fonts/MyriadProCondensed/MyriadPro-BoldCond.eot');
    src: url('assets/fonts/MyriadProCondensed/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MyriadProCondensed/MyriadPro-BoldCond.woff') format('woff'),
        url('assets/fonts/MyriadProCondensed/MyriadPro-BoldCond.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('assets/fonts/MyriadProCondensed/MyriadPro-CondIt.eot');
    src: url('assets/fonts/MyriadProCondensed/MyriadPro-CondIt.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MyriadProCondensed/MyriadPro-CondIt.woff') format('woff'),
        url('assets/fonts/MyriadProCondensed/MyriadPro-CondIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('assets/fonts/MyriadProCondensed/MyriadPro-BoldCondIt.eot');
    src: url('assets/fonts/MyriadProCondensed/MyriadPro-BoldCondIt.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MyriadProCondensed/MyriadPro-BoldCondIt.woff') format('woff'),
        url('assets/fonts/MyriadProCondensed/MyriadPro-BoldCondIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

