@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-BlackIt.eot');
    src: local('Myriad Pro Black Italic'), local('MyriadPro-BlackIt'),
    url('MyriadPro-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BlackIt.woff') format('woff'),
    url('MyriadPro-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-LightIt.eot');
    src: local('Myriad Pro Light Italic'), local('MyriadPro-LightIt'),
    url('MyriadPro-LightIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-LightIt.woff') format('woff'),
    url('MyriadPro-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Bold.eot');
    src: local('Myriad Pro Bold'), local('MyriadPro-Bold'),
    url('MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Bold.woff') format('woff'),
    url('MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-BoldIt.eot');
    src: local('Myriad Pro Bold Italic'), local('MyriadPro-BoldIt'),
    url('MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BoldIt.woff') format('woff'),
    url('MyriadPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-LightSemiExtIt.eot');
    src: local('Myriad Pro Light SemiExtended Italic'), local('MyriadPro-LightSemiExtIt'),
    url('MyriadPro-LightSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-LightSemiExtIt.woff') format('woff'),
    url('MyriadPro-LightSemiExtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Semibold.eot');
    src: local('Myriad Pro Semibold'), local('MyriadPro-Semibold'),
    url('MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Semibold.woff') format('woff'),
    url('MyriadPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Black.eot');
    src: local('Myriad Pro Black'), local('MyriadPro-Black'),
    url('MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Black.woff') format('woff'),
    url('MyriadPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.eot');
    src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
    url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Regular.woff') format('woff'),
    url('MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-LightSemiExt.eot');
    src: local('Myriad Pro Light SemiExtended'), local('MyriadPro-LightSemiExt'),
    url('MyriadPro-LightSemiExt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-LightSemiExt.woff') format('woff'),
    url('MyriadPro-LightSemiExt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-BoldSemiExtIt.eot');
    src: local('Myriad Pro Bold SemiExtended Italic'), local('MyriadPro-BoldSemiExtIt'),
    url('MyriadPro-BoldSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BoldSemiExtIt.woff') format('woff'),
    url('MyriadPro-BoldSemiExtIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-SemiboldSemiExtIt.eot');
    src: local('Myriad Pro Semibold SemiExtended Italic'), local('MyriadPro-SemiboldSemiExtIt'),
    url('MyriadPro-SemiboldSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-SemiboldSemiExtIt.woff') format('woff'),
    url('MyriadPro-SemiboldSemiExtIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-BlackSemiExtIt.eot');
    src: local('Myriad Pro Black SemiExtended Italic'), local('MyriadPro-BlackSemiExtIt'),
    url('MyriadPro-BlackSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BlackSemiExtIt.woff') format('woff'),
    url('MyriadPro-BlackSemiExtIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}



@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-SemiboldIt.eot');
    src: local('Myriad Pro Semibold Italic'), local('MyriadPro-SemiboldIt'),
    url('MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-SemiboldIt.woff') format('woff'),
    url('MyriadPro-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-It.eot');
    src: local('Myriad Pro Italic'), local('MyriadPro-It'),
    url('MyriadPro-It.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-It.woff') format('woff'),
    url('MyriadPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-BoldSemiExt.eot');
    src: local('Myriad Pro Bold SemiExtended'), local('MyriadPro-BoldSemiExt'),
    url('MyriadPro-BoldSemiExt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BoldSemiExt.woff') format('woff'),
    url('MyriadPro-BoldSemiExt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Light.eot');
    src: local('Myriad Pro Light'), local('MyriadPro-Light'),
    url('MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Light.woff') format('woff'),
    url('MyriadPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-SemiboldSemiExt.eot');
    src: local('Myriad Pro Semibold SemiExtended'), local('MyriadPro-SemiboldSemiExt'),
    url('MyriadPro-SemiboldSemiExt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-SemiboldSemiExt.woff') format('woff'),
    url('MyriadPro-SemiboldSemiExt.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-SemiExtIt.eot');
    src: local('Myriad Pro SemiExtended Italic'), local('MyriadPro-SemiExtIt'),
    url('MyriadPro-SemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-SemiExtIt.woff') format('woff'),
    url('MyriadPro-SemiExtIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-BlackSemiExt.eot');
    src: local('Myriad Pro Black SemiExtended'), local('MyriadPro-BlackSemiExt'),
    url('MyriadPro-BlackSemiExt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BlackSemiExt.woff') format('woff'),
    url('MyriadPro-BlackSemiExt.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-SemiExt.eot');
    src: local('Myriad Pro SemiExtended'), local('MyriadPro-SemiExt'),
    url('MyriadPro-SemiExt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-SemiExt.woff') format('woff'),
    url('MyriadPro-SemiExt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
