
@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-BoldCondIt.eot');
    src: local('Myriad Pro Bold Condensed Italic'), local('MyriadPro-BoldCondIt'),
    url('MyriadPro-BoldCondIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BoldCondIt.woff') format('woff'),
    url('MyriadPro-BoldCondIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-BlackCond.eot');
    src: local('Myriad Pro Black Condensed'), local('MyriadPro-BlackCond'),
    url('MyriadPro-BlackCond.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BlackCond.woff') format('woff'),
    url('MyriadPro-BlackCond.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-Cond.eot');
    src: local('Myriad Pro Condensed'), local('MyriadPro-Cond'),
    url('MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Cond.woff') format('woff'),
    url('MyriadPro-Cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-BoldSemiCnIt.eot');
    src: local('Myriad Pro Bold SemiCondensed Italic'), local('MyriadPro-BoldSemiCnIt'),
    url('MyriadPro-BoldSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BoldSemiCnIt.woff') format('woff'),
    url('MyriadPro-BoldSemiCnIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-CondIt.eot');
    src: local('Myriad Pro Condensed Italic'), local('MyriadPro-CondIt'),
    url('MyriadPro-CondIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-CondIt.woff') format('woff'),
    url('MyriadPro-CondIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-LightCond.eot');
    src: local('Myriad Pro Light Condensed'), local('MyriadPro-LightCond'),
    url('MyriadPro-LightCond.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-LightCond.woff') format('woff'),
    url('MyriadPro-LightCond.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-SemiCn.eot');
    src: local('Myriad Pro SemiCondensed'), local('MyriadPro-SemiCn'),
    url('MyriadPro-SemiCn.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-SemiCn.woff') format('woff'),
    url('MyriadPro-SemiCn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-SemiCnIt.eot');
    src: local('Myriad Pro SemiCondensed Italic'), local('MyriadPro-SemiCnIt'),
    url('MyriadPro-SemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-SemiCnIt.woff') format('woff'),
    url('MyriadPro-SemiCnIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-BoldCond.eot');
    src: local('Myriad Pro Bold Condensed'), local('MyriadPro-BoldCond'),
    url('MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BoldCond.woff') format('woff'),
    url('MyriadPro-BoldCond.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-LightCondIt.eot');
    src: local('Myriad Pro Light Condensed Italic'), local('MyriadPro-LightCondIt'),
    url('MyriadPro-LightCondIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-LightCondIt.woff') format('woff'),
    url('MyriadPro-LightCondIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-BlackSemiCnIt.eot');
    src: local('Myriad Pro Black SemiCondensed Italic'), local('MyriadPro-BlackSemiCnIt'),
    url('MyriadPro-BlackSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BlackSemiCnIt.woff') format('woff'),
    url('MyriadPro-BlackSemiCnIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-SemiboldCondIt.eot');
    src: local('Myriad Pro Semibold Condensed Italic'), local('MyriadPro-SemiboldCondIt'),
    url('MyriadPro-SemiboldCondIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-SemiboldCondIt.woff') format('woff'),
    url('MyriadPro-SemiboldCondIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-SemiboldCond.eot');
    src: local('Myriad Pro Semibold Condensed'), local('MyriadPro-SemiboldCond'),
    url('MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-SemiboldCond.woff') format('woff'),
    url('MyriadPro-SemiboldCond.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-SemiboldSemiCn.eot');
    src: local('Myriad Pro Semibold SemiCondensed'), local('MyriadPro-SemiboldSemiCn'),
    url('MyriadPro-SemiboldSemiCn.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-SemiboldSemiCn.woff') format('woff'),
    url('MyriadPro-SemiboldSemiCn.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-LightSemiCnIt.eot');
    src: local('Myriad Pro Light SemiCondensed Italic'), local('MyriadPro-LightSemiCnIt'),
    url('MyriadPro-LightSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-LightSemiCnIt.woff') format('woff'),
    url('MyriadPro-LightSemiCnIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-BoldSemiCn.eot');
    src: local('Myriad Pro Bold SemiCondensed'), local('MyriadPro-BoldSemiCn'),
    url('MyriadPro-BoldSemiCn.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BoldSemiCn.woff') format('woff'),
    url('MyriadPro-BoldSemiCn.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-SemiboldSemiCnIt.eot');
    src: local('Myriad Pro Semibold SemiCondensed Italic'), local('MyriadPro-SemiboldSemiCnIt'),
    url('MyriadPro-SemiboldSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-SemiboldSemiCnIt.woff') format('woff'),
    url('MyriadPro-SemiboldSemiCnIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-LightSemiCn.eot');
    src: local('Myriad Pro Light SemiCondensed'), local('MyriadPro-LightSemiCn'),
    url('MyriadPro-LightSemiCn.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-LightSemiCn.woff') format('woff'),
    url('MyriadPro-LightSemiCn.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-BlackCondIt.eot');
    src: local('Myriad Pro Black Condensed Italic'), local('MyriadPro-BlackCondIt'),
    url('MyriadPro-BlackCondIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BlackCondIt.woff') format('woff'),
    url('MyriadPro-BlackCondIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('MyriadPro-BlackSemiCn.eot');
    src: local('Myriad Pro Black SemiCondensed'), local('MyriadPro-BlackSemiCn'),
    url('MyriadPro-BlackSemiCn.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BlackSemiCn.woff') format('woff'),
    url('MyriadPro-BlackSemiCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
