<template>
    <a v-on:click="setNextSlide()" class="link"><span><slot></slot></span></a>
</template>

<script>
    export default {
        name: 'ButtonA',
        props: ['slug'],
        methods: {
            setNextSlide() {
                Event.$emit('setSlide', this.slug);
            },
        }
    }
</script>

