<template>
    <a v-on:click="setNextSlide()" class="link back-link"><img src="images/arrow-back.png" width="30"/><span><slot></slot></span></a>
</template>

<script>
    export default {
        name: 'ButtonBack',
        props: ['slug'],
        methods: {
            setNextSlide() {
                Event.$emit('setSlide', this.slug);
            },
        }
    }
</script>

