<template>
    <div  v-on:click="setNextSlide()" class="button"><span><slot></slot></span></div>
</template>

<script>
    export default {
        name: 'ButtonDiv',
        props: ['slug'],
        methods: {
            setNextSlide() {
                Event.$emit('setSlide', this.slug);
            },
        }
    }
</script>

