<template>
    <div class="games">

        <div class="front">
            <img src="images/game/part-1.png" data-part='part-1'
                 data-name="кожно-фасциально-жировой дельтопекторальный лоскут" class="part part-1"/>
            <img src="images/game/part-2.png" data-part='part-2' data-name="мышечно-надкостничный лоскут скальпа"
                 class="part part-2"/>
            <img src="images/game/part-3.png" data-part='part-3' data-name="кожно-подкожный щечный лоскут"
                 class="part part-3"/>
            <img src="images/game/part-4.png" data-part='part-4' data-name="подъязычный нерв" class="part part-4"/>
            <img src="images/game/part-5.png" data-part='part-5' data-name="лоскут на основе большой грудной мышцы"
                 class="part part-5"/>
            <img src="images/game/part-6.png" data-part='part-6' data-name="сегменты желудка" class="part part-6"/>
            <img src="images/game/part-7.png" data-part='part-7' data-name="сегменты толстой кишки"
                 class="part part-7"/>
            <img src="images/game/part-8.png" data-part='part-8' data-name="сегменты сальника" class="part part-8"/>
            <img src="images/game/part-9.png" data-part='part-9' data-name="кожно-фасциальный лучевой лоскут"
                 class="part part-9"/>
            <img src="images/game/part-10.png" data-part='part-10' data-name="костный лоскут из края подвздошной кости"
                 class="part part-10"/>
            <img src="images/game/part-11.png" data-part='part-11' data-name="сегменты тонкой кишки"
                 class="part part-11"/>
            <img src="images/game/part-12.png" data-part='part-12' data-name="лоскут на основе передней зубчатой мышцы"
                 class="part part-12"/>
            <img src="images/game/part-13.png" data-part='part-13' data-name="лоскут на основе прямой мышцы живота"
                 class="part part-13"/>
            <img src="images/game/part-14.png" data-part='part-14' data-name="лоскут на основе широчайшей фасции бедра"
                 class="part part-14"/>
            <img src="images/game/part-15.png" data-part='part-15' data-name="лоскут на основе нежной мышцы"
                 class="part part-15"/>
            <img src="images/game/part-16.png" data-part='part-16' data-name="костный лоскут из большеберцовой кости"
                 class="part part-16"/>
            <img src="images/game/part-17.png" data-part='part-17' data-name="костный лоскут из малоберцовой кости"
                 class="part part-17"/>
            <img src="images/game/part-18.png" data-part='part-18'
                 data-name="кожно-фасциальный лоскут тыла стопы со 2-й плюсневой костью" class="part part-18"/>
            <img src="images/game/part-19.png" data-part='part-19' data-name="аутовенозные графты"
                 class="part part-19"/>

            <img src="images/game/label-1.png" class="label label-1"/>
            <img src="images/game/label-2.png" class="label label-2"/>
            <img src="images/game/label-3.png" class="label label-3"/>
            <img src="images/game/label-4.png" class="label label-4"/>
            <img src="images/game/label-5.png" class="label label-5"/>
            <img src="images/game/label-6.png" class="label label-6"/>
            <img src="images/game/label-7.png" class="label label-7"/>
            <img src="images/game/label-8.png" class="label label-8"/>
            <img src="images/game/label-9.png" class="label label-9"/>
            <img src="images/game/label-10.png" class="label label-10"/>
            <img src="images/game/label-11.png" class="label label-11"/>
            <img src="images/game/label-12.png" class="label label-12"/>
            <img src="images/game/label-13.png" class="label label-13"/>
            <img src="images/game/label-14.png" class="label label-14"/>
            <img src="images/game/label-15.png" class="label label-15"/>
            <img src="images/game/label-16.png" class="label label-16"/>
            <img src="images/game/label-17.png" class="label label-17"/>
            <img src="images/game/label-18.png" class="label label-18"/>
            <img src="images/game/label-19.png" class="label label-19"/>
        </div>

        <div class="back">
            <img src="images/game/part-20.png" data-part='part-20'
                 data-name="кожно-мышечный лоскут на основе височной мышцы" class="part part-20"/>
            <img src="images/game/part-21.png" data-part='part-21' data-name="лоскут на основе трапециевидной мышцы"
                 class="part part-21"/>
            <img src="images/game/part-22.png" data-part='part-22' data-name="костный лоскут на основе лопатки"
                 class="part part-22"/>
            <img src="images/game/part-23.png" data-part='part-23'
                 data-name="кожно-мышечный лоскут на основе широчайшей мышца спины" class="part part-23"/>
            <img src="images/game/part-24.png" data-part='part-24' data-name="костный лоскут на основе ребра"
                 class="part part-24"/>
            <img src="images/game/part-25.png" data-part='part-25' data-name="кожно-жировой лоскут ягодичной области"
                 class="part part-25"/>
            <img src="images/game/part-26.png" data-part='part-26' data-name="лоскут на основе икроножного нерва"
                 class="part part-26"/>
            <img src="images/game/part-27.png" data-part='part-27' data-name="кожно-фасциальный лопаточный лоскут"
                 class="part part-27"/>

            <img src="images/game/label-20.png" class="label label-20" style="margin: -20px -240px;"/>
            <img src="images/game/label-21.png" class="label label-21" style="margin: -40px -210px;"/>
            <img src="images/game/label-22.png" class="label label-22" style="margin: -10px -150px;"/>
            <img src="images/game/label-23.png" class="label label-23" style="margin: 10px -330px;"/>
            <img src="images/game/label-24.png" class="label label-24" style="margin: 15px -140px;"/>
            <img src="images/game/label-25.png" class="label label-25" style="margin: 290px -160px;"/>
            <img src="images/game/label-26.png" class="label label-26" style="margin: 410px -185px;"/>
            <img src="images/game/label-27.png" class="label label-27" style="margin: -15px -250px;"/>
        </div>

        <div :class="css_class">
            <h1 class="title">{{game.name | striphtml}}</h1>
            <div class="body">
                <img :src="'images/game/'+game.slug + '.png'"/>
                <img class="border" :src="'images/game/'+game.slug + '-border.png'"/>
            </div>
            <div class="preview">
                <div>
                    <p>Вы перешли в раздел <br/> «{{game.name | striphtml}}»</p>
                    <p>Ваша задача – перенести все возможные лоскуты на реципиентную область в центральной части
                        экрана.</p>
                    <p>На донорских областях справа и слева вы видите все лоскуты, но не все из них подойдут для
                        переноса на выбранную реципиентную область.</p>
                    <div class="button" v-on:click="startGame()"><span>Начать операцию</span></div>
                </div>
            </div>
        </div>


        <div class="score">
            <div class="score-part">
                <i>Попытки переноса лоскутов</i>
                <div class="score-counter">
                    <div>
                        <strong id="сounterCorrect">{{counterCorrect}}</strong>
                        <p>Правильно</p>
                    </div>
                    <div>
                        <span id="counterAll">{{counterAll}}</span>
                        <p>Всего</p>
                    </div>
                </div>
            </div>
            <div class="score-part">
                <div class="button" v-on:click="finish()"><span>Я перенес все лоскуты</span></div>
            </div>
            <div class="score-part">
                <span id="timer" class="score-timer">{{timeInner}}</span>
                <p>Время операции</p>
            </div>
        </div>


    </div>
</template>


<script>
    export default {
        name: 'Game',
        props: {},
        data() {
            return {
                game: this.app.$children[0].currentSlide.game,
                slide: this.app.$children[0].currentSlide,
                is_started: false,
                css_class: 'game is-on ' + this.app.$children[0].currentSlide.game.slug,
                counterAll: 0,
                counterCorrect: 0,
                timer: null,
                timeInner: '00:00:00',
                selectedParts: []
            };
        },
        created() {
        },
        methods: {
            setTimer() {
                this.timer = new Date();
                this.timeInner = setInterval(() => {
                    this.timeInner = this.app.$moment(new Date() - this.timer).format(' 00:mm:ss ');
                }, 100);
            },
            startGame() {
                let pointerX;
                let pointerY;
                let $slides = $('.slides');
                let zoom = 1;
                let self = this;
                this.timer = new Date();
                this.css_class += ' is-started';

                this.$axios.post('/learning-api/demo-presentation/game-start.json', {
                    'game_id': this.game.id
                }).then(function () {
                }).catch(function () {
                });


                this.setTimer();
                $(".part").draggable({
                    containment: ".slide",
                    revert: true,
                    zIndex: 10,
                    start: function (evt, ui) {
                        pointerY = (evt.pageY - $slides.offset().top) / zoom - parseInt($(evt.target).css('top'));
                        pointerX = (evt.pageX - $slides.offset().left) / zoom - parseInt($(evt.target).css('left'));

                        let part = $(ui.helper[0]).data('part').substr(5);
                        $('.label-' + part).addClass('is-dragging')
                    },

                    drag: function (evt, ui) {
                        let canvasTop = $slides.offset().top;
                        let canvasLeft = $slides.offset().left;

                        ui.position.top = Math.round((evt.pageY - canvasTop) / zoom - pointerY);
                        ui.position.left = Math.round((evt.pageX - canvasLeft) / zoom - pointerX);
                    },

                    stop: function (event, ui) {
                        let part = $(ui.helper[0]).data('part').substr(5);
                        $('.label-' + part).removeClass('is-dragging')
                    }
                });

                $('.body').droppable({
                    drop: function (event, ui) {

                        $(ui.draggable).addClass('is-dropped').draggable("option", "revert", false);

                        // Get part value and assign to component property.
                        let partValue = ui.draggable[0].getAttribute('data-name');

                        self.selectedParts.push(partValue);

                        let isCorrect = self.game.answers.indexOf(partValue) != -1;

                        self.counterAll += 1;
                        if (isCorrect) {
                            self.counterCorrect += 1;
                        }

                    }
                });
            },
            finish() {

                let self = this;
                this.$axios.post('/learning-api/demo-presentation/game-finish.json', {
                    'answers': self.selectedParts,
                    'game_id': self.game.id
                }).then(function () {
                    Event.$emit('gameFinished', self.game);
                }).catch(function () {
                    Event.$emit('gameFinished', self.game);
                });
            }
        }
    }
</script>

