
<template>
    <div class="controls">
        <div class="control" v-bind:key="index" v-for="(game, index) in gameScores">
            <div class="button" v-on:click="selectGame(game)"><span v-html="game.name"></span></div>
            <div class="stars">
                <i v-for="index in 5" :key="index" :class="index <= game.stars ? 'is-on' : ''"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'GameScores',
        props: ['slug'],
        data() {
            return {
                gameScores: null,
                currentSlide: null,
            };
        },
        created() {
            this.fetch();
        },
        methods: {
            selectGame(game) {
                Event.$emit('selectGame', game);
            },
            fetch() {
                this.$axios.get('/learning-api/demo-presentation/game-scores.json').then(this.refresh);
            },
            refresh({data}) {
                this.gameScores = data;
            }
        }
    }
</script>

