<template>
    <div class="game-results">
        <button class="fullscreen" onclick="toggleFullscreen('slides')"></button>

        <h1 class="title">{{game.name}}</h1>

        <table class="result" v-if="results">
            <tr>
                <td>Предыдущий результат</td>
                <td><strong>Ваши результаты</strong></td>
                <td><strong>Текущий результат</strong></td>
            </tr>
            <tr>
                <td>
                    <span v-if="results.last">{{results.last.correct}} из {{results.last.total}}</span>
                    <span v-else>&ndash;</span>
                </td>
                <td>Верных ответов</td>
                <td><strong>{{results.current.correct}} из {{results.current.total}}</strong></td>
            </tr>
            <tr>
                <td>
                    <div class="stars-holder result-percent" v-if="results.last">
                        {{results.last.accuracy}}%
                        <div class="stars">
                            <i v-for="index in 5" :key="index" :class="index <= results.last.stars ? 'is-on' : ''"></i>
                        </div>
                    </div>
                    <span v-else>&ndash;</span>

                </td>
                <td>Точность ответов</td>
                <td>
                    <div class="result-percent">
                        <strong>{{results.current.accuracy}}%</strong>
                        <div class="stars">
                            <i v-for="index in 5" :key="index" :class="index <= results.current.stars ? 'is-on' : ''"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span v-if="results.last">{{results.last.attempts}}</span>
                    <span v-else>&ndash;</span>
                </td>
                <td>Всего попыток</td>
                <td>
                    <strong v-if="results.current.attempts">{{results.current.attempts}}</strong>
                </td>
            </tr>
            <tr>
                <td :class="results.last && (results.last.time - results.current.time >= 0) ? 'red' : 'green'">
                    <strong v-if="results.last">{{ this.secondsToTime(results.last.time) }}</strong>
                    <strong v-else class="black">&ndash;</strong>
                </td>
                <td>Время игры</td>
                <td :class="results.last && (results.current.time - results.last.time <= 0) ? 'green' : 'red'" >
                    <strong :class="!results.last ? 'black' : 'none'">{{ this.secondsToTime(results.current.time) }}</strong>

                </td>
            </tr>
            <tr>
                <td :class="results.last && (results.last.score - results.current.score >= 0) ? 'green' : 'red'">
                    <strong v-if="results.last">{{results.last.score}}</strong>
                    <strong v-else  class="black">&ndash;</strong>
                </td>
                <td>Набрано очков</td>
                <td>
                    <div class="result-score">
                        <strong>{{results.current.score}}</strong>
                        <div v-if="results.last">
                            <img :src="(results.last.score - results.current.score > 0) ? 'images/slide04/arrow-down-red.png' : 'images/slide04/arrow-up-green.png'" width="27"/>
                            <span :class="(results.last.score - results.current.score >= 0) ? 'red' : 'green'">
                                <span v-html="(results.last.score - results.current.score > 0) ?  results.current.score - results.last.score : '+' + results.current.score - results.last.score "></span>
                            </span>
                        </div>

                    </div>
                </td>
            </tr>
        </table>

        <button-div :slug="'slide-03'">Играть еще</button-div>
        <button-back :slug="'slide-03'">Меню</button-back>

    </div>
</template>

<script>

    export default {
        name: 'GameResult',
        props: {},
        data() {
            return {
                game: this.app.$children[0].currentSlide.game,
                slide: this.app.$children[0].currentSlide,
                is_started: false,
                css_class:  'game is-on ' +this.app.$children[0].currentSlide.game.slug,
                counterAll: 0,
                counterCorrect: 0,
                timer: null,
                timeInner: '00:00:00',
                selectedParts: [],
                results: null
            }
        },
        created() {
            this.fetch();
        },
        methods: {
            secondsToTime(s){return(s-(s%=60))/60+(9<s?':':':0')+s},
            fetch() {
                this.$axios.get('/learning-api/demo-presentation/game-result.json', { params: {'game_id': this.game.id}}).then(this.refresh);
            },
            refresh({data}) {
                this.results = data;
            }
        }
    }
</script>

