<template>
    <div class="button" v-on:click="nextRule()"><span>Далее</span><img src="images/arrow-next.png"/></div>
</template>

<script>
    export default {
        name: 'NextRule',
        props: {},
        methods: {
            nextRule: function () {
                //TODO This came from markup, make it vanilla js.
                if ($('.rules.is-on').length < 5) {
                    $('.rules.is-on').next().addClass('is-on')
                } else {
                    $('.body', '.slide-07').removeClass('is-correct');
                    $('.rule-label-1').addClass('is-on').siblings().removeClass('is-on');

                    $('.rules').removeClass('is-on')
                }
            },
        }
    }
</script>

