<template>

    <dialog :class="className">
        <span class="title">Придумайте себе псевдоним,<br/>который смогут видеть другие игроки</span>
        <input type="text" v-model="user.nick" v-if="user"/>
        <button type="submit" class="button" v-on:click="saveClose"><span>Продолжить</span></button>
    </dialog>

</template>

<script>


    export default {
        name: 'NickDialog',
        props: {
        },
        created() {
            this.fetch();
        },
        data() {
            return {
                user: null,
                className: 'dialog',
            };
        },
        methods: {
            fetch() {
                this.$axios.get('/learning-api/me.json').then(this.refresh);
            },
            refresh({data}) {
                this.user = data;
                if (!this.user.nick) {
                    this.className = 'dialog is-on';
                }
            },
            saveClose() {
                // Closing dialog.
                if (this.user.nick) {

                    this.className = 'dialog';

                    this.$axios.post('/learning-api/change-nick', {"nick": this.user.nick}).then(function () {

                    }).catch(function () {

                    });
                }
            }
        }
    }
</script>

