<template>
    <div class="button button--prev" v-on:click="prevRule()"><span>Назад</span><img src="images/arrow-back.png"/></div>
</template>

<script>
    export default {
        name: 'Previous-Rule',
        props: {},
        methods: {
            prevRule: function () {
                //TODO This came from markup, make it vanilla js.
                if ($('.rules.is-on').length > 1) {
                    $('.rules.is-on').last().removeClass('is-on')
                } else {
                    Event.$emit('setSlide', 'slide-02');
                }
            },
        }
    }
</script>

