<template>
    <div class="rating">

        <h1 class="title">Рейтинг участников</h1>
        <div class="data">
            <div class="buttons">
                <div v-bind:class="selected == rating.slug ? 'button is-on' : 'button'"  v-for="(rating, index) in ratings" v-bind:key="index" v-on:click="selected = rating.slug">
                    <span v-html="rating.name"></span>
                </div>
            </div>

            <div class="result">
                <table v-if="results.items.length > 0">
                    <tr>
                        <td>Позиция</td>
                        <td>Псевдоним</td>
                        <td v-if="selected === 'general'">Очки</td>
                        <td v-else>Время</td>
                        <td>Точность ответов, %</td>
                    </tr>
                    <tr v-for="(item, key) in results.items" v-bind:key="key">
                        <td>{{key + 1}}</td>
                        <td>{{item.nick}}</td>
                        <td v-if="selected === 'general'">{{item.score}}</td>
                        <td v-else>{{ secondsToTime(item.time) }}</td>
                        <td>{{item.accuracy}}</td>
                    </tr>
                </table>

                <table v-else>
                    <tr>
                        <td>Позиция</td>
                        <td>Псевдоним</td>
                        <td v-if="selected === 'general'">Очки</td>
                        <td v-else>Время</td>
                        <td>Точность ответов, %</td>
                    </tr>
                    <tr>
                        <td colspan="5">Станьте первым</td>
                    </tr>
                </table>

            </div>
            <button-back slug="slide-03">Меню</button-back>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Rating',
        props: {},
        data() {
            return {
                ratings: null,
                selected: 'general',
                results: null,
            };
        },
        created() {
            this.fetch();
        },
        watch: {
            selected: function (val) {
                this.selected = val;
                this.setResult();

            }
        },
        methods: {
            secondsToTime(s){return(s-(s%=60))/60+(9<s?':':':0')+s},
            selectGame() {
                Event.$emit('selectGame', this.slug);
            },
            fetch() {
                this.$axios.get('/learning-api/demo-presentation/rating.json').then(this.refresh);
            },
            setResult(){
                var filtered = this.ratings.filter(({slug}) => slug === this.selected);
                this.results = filtered[0];
            },
            refresh({data}) {
                this.ratings = data;
                this.setResult();
            }
        }
    }
</script>

