<template>
    <section :class="className" style="zoom: 1">
        <button class="fullscreen" v-on:click="toggleFullscreen('slides')"></button>
        <component :is="body && {template:body}"/>
    </section>
</template>

<script>

    // TODO fix compile warnings.
    export default {
        name: 'Slide',
        props: {
            data: Object
        },
        watch: {
            data: {

                immediate: true,
                handler(slide, previousSlide) {
                    if (previousSlide) {
                        this.id = slide.id;
                        this.className = 'slide is-on ' + slide.slug;
                        this.body = '<div class="slide-body">' + slide.body + '</div>';
                        this.slug = slide.slug;
                        // Saving history.
                    }
                    this.saveHistory(slide, previousSlide);
                }
            }
        },
        updated() {


            //zoom hack
            var pointerX;
            var pointerY;
            var $slides = $('.slides');
            var zoom = 1;


            $(".part").draggable({
                containment: ".slide",
                revert: true,
                zIndex: 10,
                start: function (evt, ui) {
                    if ($('.slide-07').hasClass('is-on')) {
                        $('.rule-label-3').addClass('is-on').siblings();
                    }

                    pointerY = (evt.pageY - $slides.offset().top) / zoom - parseInt($(evt.target).css('top'));
                    pointerX = (evt.pageX - $slides.offset().left) / zoom - parseInt($(evt.target).css('left'));


                    var part = $(ui.helper[0]).data('part').substr(5);
                    $('.label-' + part).addClass('is-dragging')
                },

                drag: function (evt, ui) {
                    var canvasTop = $slides.offset().top;
                    var canvasLeft = $slides.offset().left;

                    ui.position.top = Math.round((evt.pageY - canvasTop) / zoom - pointerY);
                    ui.position.left = Math.round((evt.pageX - canvasLeft) / zoom - pointerX);
                },

                stop: function (event, ui) {
                    var part = $(ui.helper[0]).data('part').substr(5);
                    $('.label-' + part).removeClass('is-dragging')
                }
            });

            // training
            $(".part", ".slide-07").hover(function () {
                $('.rule-label-2').addClass('is-on')
            });
            $('.body', ".slide-07").droppable({
                drop: function (event, ui) {
                    $(this).addClass('is-correct');
                    $(ui.draggable).addClass('is-dropped').draggable("option", "revert", false);
                    $('.rule-label-4').addClass('is-on').siblings()
                }
            });

        },
        created() {
            document.cancelFullScreen = document.cancelFullScreen || document.webkitCancelFullScreen || document.mozCancelFullScreen;
            // setTimeout to simulate ajax call to render body via vue.
            setTimeout(() => this.data.body = this.data.body, 1000);

        },
        data() {
            return {
                name: this.data.name,
                id: this.data.id,
                body: '<div class="slide-body">' + this.data.body + '</div>',
                className: 'slide is-on ' + this.data.slug,
                slug: this.data.slug,
                isFullScreen: false,
            }
        },
        methods: {

            onFullScreenEnter() {
                document.body.classList.add('is-fullscreen');
                this.isFullScreen = true
            },

            onFullScreenExit() {
                document.body.classList.remove('is-fullscreen');
                this.isFullScreen = false
            },

            // Note: FF nightly needs about:config full-screen-api.enabled set to true.
            toggleFullscreen(id) {
                return this.isFullScreen ? this.exitFullscreen(id) : this.enterFullscreen(id);
            },

            enterFullscreen(id) {
                this.onFullScreenEnter(id);
                var el = document.getElementById(id);
                // var onfullscreenchange = function (e) {
                //     var fullscreenElement = document.fullscreenElement || document.mozFullscreenElement || document.webkitFullscreenElement;
                //     var fullscreenEnabled = document.fullscreenEnabled || document.mozFullscreenEnabled || document.webkitFullscreenEnabled;
                // }
                //
                // el.addEventListener("webkitfullscreenchange", onfullscreenchange);
                // el.addEventListener("mozfullscreenchange", onfullscreenchange);
                // el.addEventListener("fullscreenchange", onfullscreenchange);

                if (el.webkitRequestFullScreen) {
                    el.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
                } else {
                    el.mozRequestFullScreen();
                }
                // document.querySelector('#' + id + ' button').onclick = function () {
                //     this.exitFullscreen(id);
                // }
            },

            exitFullscreen(id) {
                this.onFullScreenExit(id);
                document.cancelFullScreen();
                // document.querySelector('#' + id + ' button').onclick = function () {
                //     this.enterFullscreen(id);
                // }
            },

            saveHistory(slide, previousSlide) {
                this.$axios.post('/learning-api/demo-presentation/history.json', { 'previous' : previousSlide, 'current' : slide});
            }
        }
    }
</script>

