@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/fonts/MyriadPro/MyriadPro-Regular.eot');
    src: url('assets/fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2'),
        url('assets/fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
        url('assets/fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/fonts/MyriadPro/MyriadPro-SemiboldIt.eot');
    src: url('assets/fonts/MyriadPro/MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MyriadPro/MyriadPro-SemiboldIt.woff2') format('woff2'),
        url('assets/fonts/MyriadPro/MyriadPro-SemiboldIt.woff') format('woff'),
        url('assets/fonts/MyriadPro/MyriadPro-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/fonts/MyriadPro/MyriadPro-Semibold.eot');
    src: url('assets/fonts/MyriadPro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MyriadPro/MyriadPro-Semibold.woff2') format('woff2'),
        url('assets/fonts/MyriadPro/MyriadPro-Semibold.woff') format('woff'),
        url('assets/fonts/MyriadPro/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/fonts/MyriadPro/MyriadPro-Bold.eot');
    src: url('assets/fonts/MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MyriadPro/MyriadPro-Bold.woff2') format('woff2'),
        url('assets/fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
        url('assets/fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/fonts/MyriadPro/MyriadPro-BoldIt.eot');
    src: url('assets/fonts/MyriadPro/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MyriadPro/MyriadPro-BoldIt.woff2') format('woff2'),
        url('assets/fonts/MyriadPro/MyriadPro-BoldIt.woff') format('woff'),
        url('assets/fonts/MyriadPro/MyriadPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/fonts/MyriadPro/MyriadPro-It.eot');
    src: url('assets/fonts/MyriadPro/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MyriadPro/MyriadPro-It.woff2') format('woff2'),
        url('assets/fonts/MyriadPro/MyriadPro-It.woff') format('woff'),
        url('assets/fonts/MyriadPro/MyriadPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

