<template>
        <main class="slides" id="slides">
            <slide v-bind:data="currentSlide" v-if="currentSlide"/>
        </main>
</template>

<script>

    export default {
        name: 'app',

        data() {
            return {
                slides: null,
                currentSlide: null,
            };
        },
        created() {
            this.fetch();

            Event.$on('setSlide',(slug) => {
                this.setSlide(slug);
            });
            Event.$on('selectGame',(game) => {
                this.selectGame(game);
            });

            Event.$on('gameFinished',(game) => {
                this.setResultSlide(game);
            });
        },
        methods: {
            selectGame(game){
               // this.setSlide(game.slide.slug);
                var slide = this.searchTreeBySlug(this.slides, game.slide.slug);
                if(slide){
                    this.currentSlide = slide;
                    this.currentSlide.game =  slide.games.find(x => x.slug === game.slug);
                }
            },
            setResultSlide(game) {
                var slide = this.searchTreeBySlug(this.slides, 'slide-04');
                this.currentSlide = slide;
                this.currentSlide.game = game;
            },
            setSlide(slug) {
                var slide = this.searchTreeBySlug(this.slides, slug);
                if(slide){
                    this.currentSlide = slide;
                }
            },
            getStartSlide() {
                return this.slides[0]
            },
            searchTreeBySlug(element, matchingSlug) {
                if (element.slug == matchingSlug) {
                    return element;
                } else if (element.children != null) {
                    var i;
                    var result = null;
                    for (i = 0; result == null && i < element.children.length; i++) {
                        result = this.searchTreeBySlug(element.children[i], matchingSlug);
                    }
                    return result;
                }
                else {
                    var elements = element;
                    for (i = 0; result == null && i < elements.length; i++) {
                        result = this.searchTreeBySlug(elements[i], matchingSlug);
                    }

                    return result;
                }
            },
            fetch() {
                this.$axios.get('/learning-api/demo-presentation/slides.json').then(this.refresh);
            },
            refresh({data}) {

                this.slides = data;
                this.currentSlide = this.getStartSlide();
            }
        }
    }


</script>

<style lang="scss">
    @import 'src/assets/styles/style.scss';
    @import 'src/assets/styles/developer.scss';
</style>
