@import 'settings';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html {
  position: relative;
  transform-origin: 0 0;
}

html,
body {
  min-height: 100%;
  min-width: 320px;
  height: 1px; // Required to make the child 100% of the min-height
}

body {
  font-size: 16px;
  background: #fff;
  position: relative;
}

a {
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}

label{
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input:-moz-placeholder {
  color: #ccc;
}

input::-ms-clear {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

button{
  border: none;
}