/* Moved styles from markup */
.game-1 .body {
  margin: -35px -400px;
}

.game-2 .body {
  margin: 105px -180px;
}

.game-3 .body {
  margin: 50px -270px;
}

.game-4 .body {
  margin: 20px -190px;
}

.game-5 .body {
  margin: 102px -276px;
}

.game-6 .body {
  margin: 25px -295px;
}

/*Selection on images fix*/
.games {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.black {
  color: #000;
}