$ease: all .4s ease;

//fonts
$myriadPro: 'Myriad Pro', Arial, sans-serif;
$myriadProCond: 'Myriad Pro Condensed', Arial, sans-serif;

//colors
$color-grey: #5d6165;
$color-blue: #346896;
$color-red: #b1040c;
$color-green: #2c9701;

$BASE_WIDTH: 1140px;
$BASE_HEIGHT: 660px;