@import 'settings';
@import 'fonts';
@import 'base';
@import 'vendor/jquery-ui.min.scss';
@import 'vendor/normalize.css.scss';

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  display: flex;
}

.slides {
  position: relative;
  overflow-x: hidden;
  //width: 100%;
  margin: auto;
  width: $BASE_WIDTH;
  height: $BASE_HEIGHT;
}

.slide {
  font-family: $myriadPro;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  width: $BASE_WIDTH;
  height: $BASE_HEIGHT;
  background-image: url("~/images/bg.jpg");
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transition: $ease;
  transform: translate(-50%, -50%);

  &.is-on {
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }
}

.button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $color-blue;
  font-weight: bold;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, .8);
  background-image: linear-gradient(0deg, rgb(230, 251, 255) 0%, rgba(222, 239, 255, 0) 100%);
  box-shadow: 2.329px 8.693px 13px 0px rgba(0, 0, 0, 0.14);
  font-size: 40px;
  height: 60px;
  cursor: pointer;
}

.link {
  display: inline-block;
  color: $color-blue;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 4px solid #fff;
  line-height: 100%;
}

.back-link {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 30px;
  span {
    margin-left: 10px;
  }
}

.stars {
  background: url("~/images/slide03/stars.png");
  background-size: 100% 100%;
  width: 177px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px 0 17px;
  margin-right: 6px;
  i {
    background: url("~/images/slide03/star-active.png");
    background-size: 100% 100%;
    width: 23px;
    height: 23px;
    margin-right: 3px;
    transition: $ease;
    opacity: 0;
    &.is-on {
      opacity: 1;
    }
  }
}

.dialog {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: block;
  border: none;
  background: none;
  background-size: cover;
  transition: $ease;
  visibility: hidden;
  opacity: 0;
  display: none;
  &.is-on {
    opacity: 1;
    visibility: visible;
  }
}

.fullscreen {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  background: url("~/images/icon-fullscreen.png");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  z-index: 102;
  border: none;
  .is-fullscreen & {
    background-image: url("~/images/icon-defaultscreen.png");
  }
}

@import 'slides/game';
@import 'slides/slide01';
@import 'slides/slide02';
@import 'slides/slide03';
@import 'slides/slide04';
@import 'slides/slide05';
@import 'slides/slide06';
@import 'slides/slide07';

.maket {
  position: absolute;
  pointer-events: none !important;
  opacity: 0.4;
  z-index: 10000;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: -96px 0 0;
}